*{
    box-sizing:border-box;
}

body{
    margin: 10; 
    background-color: lightpink;
}

.login-form{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:lavender;
    padding : 50px;
    margin: 200 auto;
    width: 300 ;
    border-radius: 10%
}

.text-field {
    font-size: 15px;
    margin-bottom: 15px;
    border:none;
    border-radius: 5px;
    padding : 10px;
}

.submit-btn {
    color:aliceblue;
    font-size:15px;
    background-color:darksalmon;
    margin-bottom: 30px;
    padding: 8px;
    border: none;
    border-radius:5px;

}

.links{

}

.links a{
    font: size 12px;
    color:darkorchid
}