<html>
    <head>
        <title>로그인</title>
        <meta charset= "utf-8" >
        <link rel="stylesheet" href= "../assets/style/loginstyle.css">
        <link href="https://fonts.google.com/specimen/Gowun+Dodum?subset=korean&noto.script=Kore" rel = "stylesheet">
    </head>
    <body>
        <div class="login-form">
            <div>
                <input type = "text" id="email" name="email" class="text-field" placeholder="아이디">
                <input type = "text" id="password" name = "password" class = "text-field" placeholder = "비밀번호">
                <input type = "submit" value="로그인" onclick="login()" class="submit-btn">
                <a href="#">회원가입</a>
            </div>
        </div>
        <script>
            function login(){
                const user = window.localStorage.getItem('user');
                let mydata = JSON.parse(user);
                console.log(mydata);
            }
        </script>
    </body>
</html>