<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta chsrset='UTF-8'/>
        <link rel= 'stylesheet' href='stylesforform.css'/>
        <title> Make a Form</title>
    </head>
    <body>
        <header class='form-header'>
            <h1> Sign up For </h1>
            <p> New Account </p>
        </header>
        <form class ='form-row'>
            <div>
                <label for='full-name'> Name </label>
                <input id='full name' name='full name' type="text" />
            </div>
            <div>
                <label for="email"> Email </label>
                <input id="email"
                name="email"
                type="email"
                placeholder="New@example.com"/>
            </div>
            <div class="month-form-row">
                <label for="birth_month"> Date of birth </label>
                <select name="Month">
                    <option value="january">January</option>
                    <option value="february">February</option>
                    <option value="march">March</option>
                    <option value="april">April</option>
                    <option value="may">May</option>
                    <option value="june">June</option>
                    <option value="july">July</option>4
                    <option value="august">August</option>
                    <option value="september">September</option>
                    <option value="october">October</option>
                    <option value="november">November</option>
                    <option value="december">December</option>
                </select>
                <input type="text" id="birth_month">
            </div>
            <div>
                <fieldset class="legacy-form-row">
                    <input id="gender-type-1"
                            name="gender-type"
                            type="radio"
                            value="male"/>
                    <label for="gender-type-1" class="radio-label"> Male </label>
                    <input id="gender-type-2"
                            name="gender-type"
                            type="radio"
                            value="Female"
                            checked />
                            <label for="gender-type-2" class="radio-label">Female</label>
                            <input id="gender-type-3"
                            name="gender-type"
                            type="radio"
                            value="No-binary"
                            checked />
                            <label for="gender-type-3" class="radio label">No-binary</label>

                </fieldset>
            </div>
            <div>
                <label class="checkbox-label" for="available">
                    <input id="available"
                            name="available"
                            type="checkbox"
                            value="is-available"/>
                    <span> I'm actually not a ROBOT </span>                    
                </label>
            </div>
            <div>
                <button>Sign Up</button>
            </div>
        </form>
    </body>
</html>